html, body, .container {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 10px;
    padding: 10;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    flex-direction: column;

}

.side {
    width: 50vw;
    border-right: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
}

#side-nav {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}



.conversation {
    background: rgb(60, 79, 129);
    border:black;
    text-align: left;
    padding-left: 2em;
    border-bottom: .5px solid #14487c;
}

.conversation:hover {
    background: #212529;
    color: white;
}

.main {
    width: 1000vw;
    height: 50vw;
    /* background-image: radial-gradient(lightgrey 1px, transparent 0); */
    background-size: 30px 20px;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    padding: .5em .5em .5em .7em;
    font-weight: normal;
}

.title h2 {
    margin: 0;
}

#messages {
    
    flex-grow: 100; 
    display: flex;
    flex-direction: column;
    padding: 30;
    height: 100;
    overflow-y: auto; 
}



#message-input {
    background: white;
    min-height: 10vh;
    border-top: 1px solid lightgrey;
    display: flex;
    padding: 1em;
    align-items: stretch;
}

#message-input textarea {
    border: 1px solid rgb(34, 112, 181);
    flex-grow: 1;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: .4em;
    font-size: 1em;
}

.chat-button {
    border: 1px solid lightgrey;
    background: white;
    border-radius: 5px;
    margin: .5em;
    padding: .4em 1em;
}

.chat-button:hover:enabled {
    border: none;
    background: #212529;
    color: white;
}

.right-message, .left-message {
    display: flex;
    margin: .5em;
    flex-direction: column;
}

.right-message {
    align-items: flex-end;
}

.right-message .message {
    background: #495057;
    color: white;
}

.left-message {
    align-items: flex-start;
}

.left-message .message {
    background: #fdfdfd;
}

.message {
    padding: .8em;
    background: white;
    border: 1px solid lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    min-width: 15vw;
    max-width: 45vw;
}

.timestamp {
    font-size: .8em;
    color: grey;
    margin: .4em .8em .4em .8em;
}

.username {
    margin: 0 0 .4em 0;
    font-weight: bold;
    font-size: .9em;
}

#chat-nav {
    display: flex;
    background: rgb(181, 199, 212);
    border-bottom: 1px solid lightgrey;
    align-items: center;
}

#chat-title {
    flex-grow: 1;
    border-bottom: none;
}

#submitMessage {
    margin: 0 0 0 1em;
}

#error-message {
    background: crimson;
    color: white;
    padding: 1em;
    text-align: center;
    display: none;
}

#error-text {
    flex-grow: 1;
    margin: 0;
}

#error-button, #error-button:focus {
    background: transparent;
    border: transparent;
    font-weight: bold;
    color: white;
    min-width: 3em;
    max-height: 2.5em;
}